.banner {
  background-image: url("../..//media/images/blog-banner.jpg");
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-wrapper {
  box-sizing: border-box;
  padding: 0 3rem;
}

.image-wrapper {
  position: relative;
}

.image-wrapper .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.3rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}
