.banner {
  background-image: url("../..//media/images/index-banner.jpg");
}

main {
  margin-bottom: 5rem;
}

#produse article {
  box-sizing: border-box;
  padding: 0.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#produse article a {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
  margin: auto;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border: 1px solid black;
  position: relative;
}

#produse article a p {
  margin: 0;
  transition: color 0.2s linear;
}

#produse article a::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #4b4d4b;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: 50% 0%;
  transition: transform 0.1s linear;
}

#produse article a:hover p {
  color: #ffffff;
}

#produse article a:hover::before {
  transform: scaleY(1);
}
