#index-banner {
  background-image: url("../assets/index-banner.jpg");
  color: #ffffff;
  font-size: 1.7rem;
  position: relative;
}

#index-banner * {
  z-index: 2;
}

#index-banner::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
}
