.container {
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row::before, .row::after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 10%
}

.row:first-child {
    margin-left: 0; !important
}

.row:last-child {
    margin-right: 0; !important
}

.col-1  { width:  10%; }
.col-2  { width:  20%; }
.col-3  { width:  30%; }
.col-4  { width:  40%; }
.col-5  { width:  50%; }
.col-6  { width:  60%; }
.col-7  { width:  70%; }
.col-8  { width:  80%; }
.col-9  { width:  90%; }
.col-10 { width: 100%; }
