/*
 * Default and mobile style
*/
html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body * {
  font-size: 1rem;
}

main {
  margin: auto;
  width: 100%;
}

header {
  background: linear-gradient(#ffffff, #5bc180);
  position: relative;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

header>h1 {
  display: inline-block;
  width: 76vw;
  padding-left: 5%;
  border-bottom: 5px solid #336c47;
  border-bottom-style: ridge;
  border-bottom-right-radius: 10% 90%;
  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
}

header>img {
  width: 18vw;
  margin-right: 2%;
  max-width: 80px;
  display: inline-block;
  float: right;
}

article {
  margin-bottom: 5%;
  position: relative;
}

.pret span:nth-child(2) {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 3rem;
  background-color: #c98e6b;
  border-top-right-radius: 50%;
  opacity: 0.5;
  padding: 5px;
  font-style: italic;
  font-weight: bold;
}

img + p, span.pret {
  display: none;
}

article > h3 {
  background-color: #5bc180;
  text-align: center;
  margin: 0;
}

article > img {
  margin: auto;
  display: block;
  max-width: 300px;
  width: 100vw;
}

footer {
  background-color: #5bc180;
  text-align: center;
}

#bun_venit {
  font-family: 'Comic Sans MS';
}

table.orar {
  margin: auto;
}

.orar {
  text-align: center;
}

table.orar caption, table.orar thead {
  display: none;
}

table.orar tr {
  position: relative;
  background-color: #86bede;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 100%;
  box-shadow: 0px -5px 5px #AAAAAA;
}

table.orar td {
  display: inline;
  /*position: absolute;*/
  flex: 0 1 100%;
  box-sizing: border-box;
  margin: 0;
}

table.orar td:nth-child(2), table.orar td:nth-child(3) {
  flex: 0 1 50%;
}

.animalut_trist {
  display: none;
}

.slujeste_aci_bre li:nth-child(2n + 1) {
  list-style-type: square;
}

.slujeste_aci_bre li:nth-child(2n) {
  list-style-type: circle;
}

.slujeste_aci_bre li::after {
  content: "â¤";
  color: pink;
  display: inline-block;
}

h2 {
  text-align: center;
}

.meniu_p {
  list-style-type: none;
  display: flex;
  padding: 0;
  background-color: #a77659;
  float: right;
  width: 100%;
  margin: 0;
}

nav li a, nav li {
  color: #000000;
  text-decoration: none;
  position: relative;
}

nav li:hover {
  background-color: rgb(196, 170, 143)
}

@keyframes shake-it-off {
  0% { transform: rotateZ(0deg); }
  25% { transform: rotateZ(20deg); }
  75% { transform: rotateZ(-20deg); }
  100% { transform: rotateZ(0deg); }
}

.meniu_p>li {
  margin-left: 20px;
}

.meniu_p>li:hover ul {
  left: 0px;
  transition: all 0.2s;
  /*display: inline-block;*/
}

.meniu_p>li ul {
  position: absolute;
  padding: 0;
  list-style-type: none;
  left: -500px;
  /*display: none;*/
  background-color: #a77659;
  transition: all 0s;
}

/*
 * Medium screen style
*/
@media screen and (min-width: 480px) {
  html {
    font-size: 10px;
  }

  main {
    width: 90vw;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  article>img, article>p:first-of-type {
    flex: 0 1 50%;
    margin: 0;
  }

  article p {
    display:inherit;
  }
}

/*
 * Large Screen
*/
@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  main {
    width: 80vw;
  }
}
